In [2]:
# imports for functionality and plotting
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# optional imports
import warnings
import pickle

# imports for preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

# imports for modeling
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from tempfile import mkdtemp
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [3]:
# # optional settings

# ignore warnings
from warnings import filterwarnings
warnings.filterwarnings('ignore')

# # display max col and rows
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [6]:
# load dataset 
cleaned_airbnb = pd.read_csv("../data/cleaned_airbnb.csv")

In [7]:
# look at header
cleaned_airbnb.head()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,bedrooms,...,ratings_3.0,ratings_4.0,ratings_4.2,ratings_4.4,ratings_4.6,ratings_4.8,ratings_5,ratings_New,ratings_No rating,ratings_less3
0,40.683710,-73.964610,55.0,30,3,0.03,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1,40.766610,-73.988100,144.0,30,9,0.24,139,364,2,2,...,0,0,0,0,1,0,0,0,0,0
2,40.750764,-73.994605,187.0,2,6,1.67,1,343,6,1,...,0,1,0,0,0,0,0,0,0,0
3,40.835600,-73.942500,120.0,30,156,1.38,2,363,12,1,...,0,0,0,0,1,0,0,0,0,0
4,40.751120,-73.978600,85.0,30,11,0.24,133,335,3,0,...,0,0,0,0,0,1,0,0,0,0

In [9]:
cleaned_airbnb.shape

(20758, 38)

***

In [10]:
# split the data into train and test sets
X = cleaned_airbnb.loc[:, cleaned_airbnb.columns != "price"]
y = cleaned_airbnb["price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)